/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
$orange: #F16031;
$orangepoi: #e7bb1f;
$bluepoi: #5c95e1;
$greenpoi: #21930d;
$normalpoi: #F75C54;
$turquoise: #799b9b;
$purple: #af99e2;
$sienna: #642300;

* {
    @include box-sizing(border-box);
}

html, body, #map-canvas, #map-canvas-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

.twitter-typeahead, #quick-controls {
    position: absolute !important;
    top: 20px;
    left: 100px;
    z-index: 99;
    width: 400px;
}

#quick-controls {
    top: 70px;
    background: #fff;
    background: rgba(255,255,255,.7);
    padding: 10px;
    z-index: 98;
    color: $orangepoi;

    span {
        cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    }
}

input {
    @include box-shadow(0px 1px 4px #888);
    width: 100%;
    border: none;   
    background: white;
    outline: none;
    padding: 6px 5px;
    font-size: 1.4em;
    text-indent: .7em;
}


.tt-dropdown-menu {
    border: 1px solid #e3e3e3;
    padding: 0;
    width: 100%;
    background: #fff;
}

[class*=tt-dataset] {
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    .tt-suggestion {
        line-height: 2em;
        text-indent: 2.9em;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e3e3e3;
        cursor: pointer;
        text-align: left;

        &:last-of-type { border-bottom: none; }
        &:first-of-type { border-top: none; }

        &:hover, &.tt-cursor {
            background: #e3e3e3;
        }
    }

    .tt-highlight {
        background: #B3D1FF;
    }

    h2 {
        text-indent: 1rem;
        background: #fff;
        font-size: 1.4em;
        padding: 5px 0;
        background: #f2f2f0;
    }
}

.tt-empty-results {
    line-height: 3;
    text-indent: 0;
    text-align: center;
}

@keyframes bounce {
    from {
        @include transform(scale(1));
    }
    to {
        @include transform(scale(1.07));
    }
}

@-webkit-keyframes bounce {
    from {
        @include transform(scale(1));
    }
    to {
        @include transform(scale(1.07));
    }
}

ul#active-bird-list {
    position: absolute;
    top: 19px;
    z-index: 100;
    left: 560px;

    li {
        @include transition(all .13s ease-in-out);
        @include border-radius(3px);
        display: inline-block;
        text-align: center;
        min-width: 195px;
        line-height: 1.75em;
        margin: 3px 3px;
        padding: 5px 6px;
        border: 1px solid #fff;
        background: #f9f9f9;
        background: rgba(255,255,255,.7);
        cursor: pointer;
        position: relative;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.color {
            border-bottom-width: 3px;

            i {
                color: inherit !important;
            }

            &.null {
                border-color: $normalpoi;
                color: $normalpoi; 

                dt {
                    background: $normalpoi;
                }
            }

            &.turquoise {
                border-color: $turquoise;
                color: $turquoise; 
                dt {
                    background: $turquoise;
                }
            }

            &.sienna {
                border-color: $sienna;
                color: $sienna; 
                dt {
                    background: $sienna;
                }
            }

            &.greenpoi {
                border-color: $greenpoi;
                color: $greenpoi;
                dt {
                    background: $greenpoi;
                }
            }

            &.orange {
                border-color: $orangepoi;
                color: $orangepoi;
                dt {
                    background: $orangepoi;
                }
            }

            &.bluepoi {
                border-color: $bluepoi;
                color: $bluepoi;
                dt {
                    background: $bluepoi;
                }
            }

            &.purplepoi {
                border-color: $purple;
                color: $purple; 
                dt {
                    background: $purple;
                }

            }
        }

        &.already-selected {
            animation: bounce .5s infinite alternate;
            -webkit-animation: bounce .5s infinite alternate;
            -moz-animation: bounce .5s infinite alternate;
            background: #fff;
            color: $orange;
        }

        i {
            @include transition(color .2s ease-in-out);
            font-size: .8em;
            color: #555;
            padding-left: 6px;

            &:hover {
                color: #111;
            }
        }

        &:hover {
            @include box-shadow(0px 1px 1px #999);
            background: #fff;
        }

        &.genie-hide {
            @include transform(scale(0));
        }

        dl {
            @include box-shadow(0px 1px 3px #aaa);
            display: none;
            position: absolute;
            top: 101%;
            left: 0;
            width: 100%;
            background: #f9f9f9;
            background: rgba(255,255,255,.9);
            cursor: auto;
            z-index: 99;

            dt, dd {
                display: block;
                position: relative;
                background: none;
                border: none;

                &:hover {
                    @include box-shadow(none);
                }
            }
            
            dt {
                border-bottom: 1px solid #ddd;
                border-top: 1px solid #ddd;
                margin: 0 0 10px;
                background: $orange;
                color: #fff;
            }

            dd {
                padding: 0 5px 10px;
            }

        }
    }
}

footer {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 600px;
    background: #f9f9f9;
    background: rgba(255,255,255,.7);
    @include border-radius(3px);
    display: none;
}

.slider-wrap {
    position: relative;

    .ui-slider-handle {
        
    }

    .handle-display-value {
        @include border-radius(3px);
        text-shadow: none;
        position: absolute;
        top: -26px;
        padding: 4px;
        background: #222;
        background: rgba(0,0,0,.5);
        color: #f2f2f0;
    }

}

.timeline-marker {
    position: absolute;
    z-index: 99;
    width: 4px;
    background: #fff;
    border: 1px solid #333;
    height: 14px;
    top: 0;
}

.timeline-controls {
    margin: 10px 0;
    li {
        display: inline-block;
        text-align: center;
        width: 32%;
        margin: 0;
        font-size: 1.4em;
    }
}

.band-cube-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    $blockheight: 19px;

    .band-block {
        position: absolute;
        width: $blockheight;
        height: $blockheight;
        display: block;
        top: -1px;
        outline: 1px solid #e3e3e3;

        &.A {
            background: #e3e3e3;
        }
        &.W {
            background: #fff;
        }
        &.Y {
            background: yellow;
        }
        &.R {
            background: $normalpoi;
        }
        &.O {
            background: $orangepoi;
        }
        &.B {
            background: #264e8a;
        }
        &.K {
            background: #111;
        }
        &.G {
            background: $greenpoi;
        }
        &.P {
            background: $purple;
        }
        &.L {
            background: #5692ff;
        }
        &.S {
            background: #7de376;
        }
        &.H {
            background: #f556ff;
        }
        &.X {
            background: #777;
        }

    }

    .ul {
        left: 0;
    }   

    .ur {
        left: $blockheight;
    } 

    .ll {
        left: 0;
        top: $blockheight;

    }

    .lr {
        left: $blockheight;
        top: $blockheight;
    }
}

$modalheight: 80px;
$modalwidth: 500px;

#help-modal {
    @include border-radius(3px);
    @include box-shadow(0px 1px 6px #888);
    position: absolute;
    z-index: 99;
    width: $modalwidth;
    height: $modalheight;
    left: 50%;
    top: 50%;
    margin-left: -$modalwidth/2;
    margin-top: -$modalheight/2;
    padding: 10px;
    background: #fff;
    display: none;
}

#launch-help-modal {
    @include border-radius(3px);
    @include transition(all .13s ease-in-out);
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 510px;
    width: 40px;
    line-height: 35px;
    display: block;
    outline: none;
    border: none;
    background: #fff;
    background: rgba(255,255,255,.7);
    font-size: 1.3em;
    color: #777;
    cursor: pointer;

    &:hover {
        background: #fff;
        color: #222;
    }

}

.sightings-length {
    position: absolute;
    left: 3px;
    text-indent: 0;
    width: 2em;
    text-align: center;
}