<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Moor Hen Sightings</title>
        <link href="stylesheets/jquery-ui.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="icomoon/style.css" media="screen, projection" rel="stylesheet" type="text/css" />
    </head>
    <body> 
        <div id='map-canvas-wrapper'>
            <input type='text' placeholder='Search for birds and locations' id='searchbar'/>
            <div id='quick-controls'>
                <span class='js-show-all'>Show All Sightings</span>
            </div>
            <div id='map-canvas'></div>
            <ul id='active-bird-list'></ul>
            <footer>
              <div class='slider-wrap'>
                <div class="timeline-slider" ></div> 
              </div>
              <ul class='timeline-controls'>
                <li class='js-rewind icon-backward js-speed-control' dir='back' speed='1x' data-tooltip='Rewind Timeline'></li>
                <li class='js-play-timeline icon-play' data-switch-icon="icon-pause" data-tooltip='Play Timeline'></li>
                <li class='js-fast-forward icon-forward js-speed-control' dir='forward' speed='1x' data-tooltip='Fast Forward Timeline'></li>
              </ul>
            </footer>
            <button id='launch-help-modal'><i class='icon-question'></i></button>
            <p id='help-modal'>Each letter corresponds to the birds' band color in the following order: Upper Left, Lower Left, Upper Right, Lower Right.
            For example, WWOA would correspond to White(upper left), White(lower left), Orange(upper right), Aluminum (lower right).</p>
             
        </div>

        <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoS1bfOyPBTbYH1GhtD4xRs9XrT17nGwg&sensor=true"></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js', type='text/javascript'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js', type='text/javascript'></script>
        <script src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js', type='text/javascript'></script>
        <script type='text/javascript' src='lib/require.js' data-main='main.js'></script>
        <script type="text/template" id='suggestion-location-template'>
            <span class='sightings-length'>(<%= sightingslength %>)</span>
            <%= val %>  
        </script>
        <script type="text/template" id='suggestion-template'>
            <div class='band-cube-wrapper'>
                <%= val %>
                <div class='band-block ul <%= model.get("ul") %>'></div>
                <div class='band-block ur <%= model.get("ur") %>'></div>
                <div class='band-block ll <%= model.get("ll") %>'></div>
                <div class='band-block lr <%= model.get("lr") %>'></div>
            </div>
        </script>
        <script type="text/template" id='single-bird-listitem'>
            <%= bandstring %> (<%= bandnumber %>) 
            <i class='js-remove-bird icon-close'></i>
            <dl class='info-tooltip' data-bandnum='<%= bandnumber %>'></dl>
        </script>
        <script type="text/template" id='bird-info'>
            <dt>Number of Sightings</dt>
            <dd><%= numsightings %></dd>
            <dt>Banded At</dt>
            <dd><%= taggedat %></dd>
        </script>
        <script type="text/template" id="date-bubble">
            <span class='date-bubble'>
            <%= date %>
            </span>
        </script>

    </body>
</html>